# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
sprites/
*.vscode/
*.py[cod]
*$py.class

*.idea
*.pdf